html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  width: 100%;
}

body{
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #000059, #b025a9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}


.top-line{
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  color:rgb(216, 216, 216)
}

.logo{
  font-size: 40px;
  color:white;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  font-weight: 800;
  margin-top: -24px;
  padding-top: 20px;
  /* background-color: #000059; */
}

.logo a:active,.logo a:visited, .logo a:hover, .logo a:link{
  color:white;
  text-decoration: none;
}

b{
  font-size: 70px;
  color: #a603ac;
}

.head {
  color: white;
  font-weight: bold;
  font-size: 20px;
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* overflow: hidden; */
}


.navitems{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  /* gap: 2rem; */
}

.navitems li{
  list-style: none;
  margin: 0 15px;
}

li:first-child{
  margin-left: 0px;
}
.navitems li a{
  font-size: 25px;
  text-decoration: none;
  text-transform: capitalize;
}

.navitems li a:link {
  color: white;
  padding: 10px 10px;
  text-align: center;
}
.navitems li a:visited {
  color: white;
  /* background-color: white; */
}

.navitems li a:active {
  color:black ;
  /* background-color: black; */
}
.navitems li a:hover{
  color: white;
  background-image: linear-gradient(to top, rgb(172, 4, 206), rgb(252, 136, 246));
  border-radius: 30px;
  
}

.container {
  background-color: transparent;
  color: white;
  padding: 15px 10px;
  width :50%;
  flex-shrink: 0;
}

.intro{
  font-size: 20px;
  text-align: justify;
}

.maincontent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 0, 10%;
  /* overflow: hidden; */
  flex-wrap: wrap;
}

.skill {
  text-align: center;
  color: white;
  overflow: hidden;
  /* margin: 0 300px; */
}

.project{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  color:black;
  gap: 40px;
  margin-top: 40px;
}

.p1,.p2,.p3{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.p1:hover, .p2:hover, .p3:hover{
  color: white ;
  background-color: rgba(255,255,255,0.3);
}

.skill{
  display: flex;
  flex-direction: row;
  /* margin-right: 40px; */
  align-items: baseline;
  justify-content: center;
  width: 100%;
  /* margin-left: 20px; */
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 20px;
}


.skill1, .skill2, .skill3, .skill4, .skill5, .skill6{
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 20px;
  color: black;
  padding-top: 10px;
  padding-bottom: 20px ;
}

.skill1:hover, .skill2:hover, .skill3:hover, .skill4:hover, .skill5:hover, .skill6:hover{
  color: white ;
  background-color: rgba(255,255,255,0.3);
}

.skillImg{
  height:100px;
  border-radius: 50%;
}


#file{
  background-color:white;
  border-radius: 20px;
  margin: 10px;
  font-weight: bolder;
}
progress::-webkit-progress-bar {
  background-color: rgb(201, 204, 201);
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: rgb(136, 0, 170);
  border-radius: 20px;

}
.skillheading,
.project-h1 {
  /* background-color: white; */
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  margin: 50px;
  text-align: center;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  top: -100px;
  right: 50px;
  height: 250px;
  /* width: 280px; */
  border-radius: 50%;
  border-style:groove;
  border-width: 10px;
  border-color: #a36ba5;
}

.image-box{
  width: 250px;
}

button {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.button{
  display: flex;
  justify-content: center ;
  padding-bottom: 20px;
}

.btn-1{
  padding: 10px 0;
  border: none;
  border-radius: 0px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0,0,0,0.4);
  margin-right:20px;
  margin-left: 10px;
}

.btn-2{
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}

.btn-1 a:link, .btn-2:link{
  color: black;
  text-decoration: none;
  padding: 10px;
}

.btn-1 a:hover,.btn-2:hover{
  color: white;
  background-color: black;
}

.btn-1 a:visited,.btn-2 a:visited{
  color: white;
}




.animation{
  height: 50px;
  overflow: hidden ; 
  margin-top: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform:capitalize;

}

.animation>h1>h1>h1{
 padding-top: 0px;
  height: 2px;
  margin-bottom: 2px;
}

.head1 {
  align-items: center;
  animation: text-animation 7s -2s infinite ease;
  color: #f035e6

}
.head2{
  color: rgb(248, 57, 168)
}
.head3{
  color: #a62ef7;
}
@keyframes text-animation {
  0% {margin-top: 0;}
  30% {margin-top: -0px;}
  /* 20% {margin-top: -8px;} */
  /* 50% {margin-top: -10px;} */
  40% {margin-top: -60px}
  60% {margin-top: -120px;}
  80% {margin-top: -60px;}
  /* 80% {margin-top: -5.62rem;} */
  /* 90% {margin-top: 0;} */
  100% {margin-top: 0;}}


  /* contact me form */

 .contact-form{
  background-color: rgba(255,255,255,0.3);
  display:block;
  margin: 20px;
  border-radius: 10px;
  font-size: 30px;
  width:800px;

 }
form{
  display: flex;
  flex-direction: column;
  color: white;
  width: 1fr;
  padding: 2vw 4vw;
  flex-wrap: wrap;
}

form h3{
  font-weight: bolder;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-style: italic;
  animation: fonttransform 2s infinite;
}

@keyframes fonttransform {
  0%{font-style: italic;}
  50%{font-style: normal;}
  100%{font-style: italic;}
  
      
}
form input, form textarea{
  border: 0;
  margin: 10px;
  padding: 20px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
}
  .submit-btn{
    border: none;
    padding:15px;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    outline: none;
    cursor: pointer;
    margin: 20px auto 0;
    border-radius: 30px;
  }

  .submit-btn:hover{
    background-color: black;
    color: white;
  }

  .linkedinimage{
    background-color: black ;
    height: 30px;
    width: 30px;
  }

.contact-btn{
  border: none;
  /* background-color: transparent; */
  border-radius: 50%;
  padding: 7px;
  margin-left: 20px;
  margin-right: 20px;

}
 button a:visited{
  color: black;
 }

 button a:hover{
  color: white;
 }


.emailimage, .githubimage{
  background-color:  white;
  height: 30px;
  width: 30px;
}

.links{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0 0;
}
.visit{
  text-align: center;
  color: white;
}

